<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Online Book Exchange Platform{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">


  </head>

  <body class="w3-serif">
    <header>
      <nav class="navbar navbar-expand-lg navbar-toggler-icon-sm  ">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/Bookswap hub logo.png' %}" alt="Online Book Exchange Platform" style="width: 80px;" class="rounded">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto"> 
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>

              {% if user.is_authenticated %}
                {% if user.is_superuser %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin_dashboard' %}">
                      Admin Dashboard
                    </a>
                  </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="container my-4">
      {% block content %}{% endblock %}
    </main>
    {% if messages %}
      <div class="container mt-3">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <footer class="text-center py-3 mt-5" style="background-color: #E0E1DD;">
      <p>&copy; 2025 Online Book Exchange Platform. All rights reserved.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
